body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  #teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .infoDiv {
    background-color: #FFC300;
    border: 1px solid #FF5733; 
    box-shadow: 2px 2px 5px #FF6347; 
    margin: 10px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .infoDiv:hover {
    background-color: #FF5733; 
    transform: scale(1.05);
  }
  
  .team-name {
    font-size: 1.2em;
    font-weight: bold;
    color: #34495E; 
    text-decoration: underline;
    cursor: pointer;
  }
  
  .team-details {
    display: none;
  }
  #input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
  }

  input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  